.footer {
    background-color: #0c474b;
    color: #b6c8c9;
    padding: 50px 100px 0 180px;
    @media screen and (min-width: 900px) {
        padding: 50px 50px 70px 130px;
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1728px) {
        padding: 100px 90px 100px 220px;
    }
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-size: 20px;
    font-weight: 600;
    @media screen and (min-width: 1728px) {
        font-size: 24px;
    }
}

.footer-link {
    color: #b6c8c9;
    text-decoration: none;
    font-size: 14px;
    @media screen and (min-width: 1728px) {
        font-size: 16px;
    }
}

.contact {
    font-size: 14px;
    margin-top: 0;
    @media screen and (min-width: 1728px) {
        font-size: 16px;
    }
}

.social-icons {
    display: flex;
    gap: 12px;
}

.go-up {
    margin-top: 50px;
    margin-left:280px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: 900px) {
        align-self: flex-end;
        margin: 0;
        padding: 0;
    }
}